section.home-1.uk-section#home-1
	.uk-container
		.uk-grid(uk-grid='' class="uk-child-width-1-2@l")
			.wrapper
				.content
					h2 Giới thiệu
					ul.uk-grid(uk-grid='' class="uk-child-width-1-1@l uk-child-width-1-2@s")
						li.uk-flex.uk-flex-middle
							.icon
								img(src="./img/icon/goal.png", alt="")
							.text
								p.red Sáng tạo
								p.white Không ngừng đổi mới, sáng tạo ý tưởng thiết kế ẩn phẩm và nội dung sự kiện theo xu thế thị trường
						li.uk-flex.uk-flex-middle
							.icon
								img(src="./img/icon/gears.png", alt="")
							.text
								p.red Linh hoạt
								p.white Linh hoạt thay đổi trong các bước thực hiện và luôn cân nhắc đưa ra cách giải quyết tốt nhất
						li.uk-flex.uk-flex-middle
							.icon
								img(src="./img/icon/trust.png", alt="")
							.text
								p.red Hiệu quả
								p.white Đảm bảo về chất lượng sản phẩm và hoàn thiện về dịch vụ.
						li.uk-flex.uk-flex-middle
							.icon
								img(src="./img/icon/handshake.png", alt="")
							.text
								p.red Chuyên nghiệp
								p.white Uy tín trong từng dự án với đội ngũ tâm huyết, nhiệt tình

			.wrapper
				.img.uk-grid.uk-flex-middle.uk-flex-center.uk-height-100
					img(src="./img/home/gioi-thieu.png", alt="")