section.banner-wrapper
    .image
        img(src="./img/banner/TH1.jpg", alt="")
    .breadcrumb-section
        .uk-container
            ol.breadcrumb
                li
                    a(href="#") Trang chủ
                li
                    a(href="#") Giới thiệu