.navigation
    .uk-container
        ul
            li.active
                a(href="#") Thiết kế in ấn
            li
                a(href="#") sản phẩm quảng cáo
            li
                a(href="#")  tổ chức sự kiện
            li
                a(href="#") quà tặng khuyến mãi
.san-pham-1
    .uk-container
        h2.title Sản phẩm
        .product-list
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-1/brochure.jpg", alt="")
                        figcaption
                            p Brochure
                
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-1/Catalogue.jpg", alt="")
                        figcaption
                            p Catalogue
                
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-1/tui-xach.jpg", alt="")
                        figcaption
                            p Túi giấy
                
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-1/Hop-giay.jpg", alt="")
                        figcaption
                            p Hộp giấy
                
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-1/lich.jpg", alt="")
                        figcaption
                            p Lịch năm mới
                
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-1/So-tay-Strepsils.jpg", alt="")
                        figcaption
                            p Sổ tay
                
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-1/in-phieu-bao-hanh.jpg", alt="")
                        figcaption
                            p Phiếu bảo hành
                
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-1/sticker.png", alt="")
                        figcaption
                            p Sticker
                
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-1/namecard.jpg", alt="")
                        figcaption
                            p Namecard