footer
	section.footer-top.uk-background-image.uk-background-cover(style="background-image: url('./img/background/footer.png')")
		.uk-container
			.uk-grid(uk-grid='')
				div(class="uk-width-1-3@l uk-width-1-2")
					.footer-info
						h3 Công Ty TNHH TM&DV T&H
						ul
							li
								span.mdi.mdi-home 
								| 96/13 D1, Phường 25, Quận Bình Thạnh, Tp.HCM
							li
								span.mdi.mdi-phone
								| (028) 3512 2168 (10lines)
							li
								span.mdi.mdi-fax
								| (028) 3512 2168
							li
								span.mdi.mdi-email
								| quangcaoth@vnn.vn
							li
								span.mdi.mdi-link
								| www.quangcaoth.com - www.quangcaoth.vn
				div(class="uk-width-1-4@l uk-width-1-2")
					.footer-info
						h3 dịch vụ
						ul
							li 
								a(href="#") Thiết kế in ấn
							li 
								a(href="#") Sản phẩm quảng cáo
							li 
								a(href="#") Tổ chức sự kiện
							li 
								a(href="#") Quà tặng
				div(class="uk-width-1-4@l uk-width-1-2")
					.footer-info
						h3 Sản phẩm
						ul
							li 
								a(href="#") In ấn thiết kế
							li 
								a(href="#") Sản phẩm quảng cáo
							li 
								a(href="#") Quà tặng
				div(class="uk-width-1-6@l uk-width-1-2")
					.footer-info
						h3 Liên kết nhanh
						ul
							li 
								a(href="#") Dự án
							li 
								a(href="#") Tin tức - Sự kiện
							li 
								a(href="#") Tuyển dụng
							li 
								a(href="#") Liên hệ
	section.footer-bottom
		.uk-container
			.uk-flex.uk-flex-between.uk-flex-middle
				.copyright
					p Copyright © 2019 T&H company. All Rights Reserved. Designed by Cánh Cam.
				.social-links
					ul
						li
							a(href="#")
								span.fab.fa-facebook-f
						li
							a(href="#")
								span.fab.fa-youtube
						li
							a(href="#")
								span.fab.fa-twitter
						li
							a(href="#")
								span.fab.fa-instagram

