section.chitiet-tuyendung
	.container
		.row
			.col-lg-9.contain
				h3 Tuyển dụng chi tiết
				p
					strong Thiết kế đồ họa
				table.table
					tbody
						tr
							td.title Kinh nghiệm
							td
								p 1 năm

						tr
							td.title Yêu cầu bằng cấp
							td Cao đẳng/Đại học Mỹ Thuật

						tr
							td.title Số lượng cần tuyển
							td 2
						tr
							td.title Tuổi
							td 22 - 30

						tr
							td.title Lương
							td thỏa thuận
				p
					strong MÔ TẢ CÔNG VIỆC

				p
				ul
					li
						p
							| Phối hợp cùng với Nhân viên kinh doanh và Trưởng phòng thiết kế để nắm bắt ý tưởng và các yêu cầu về thiết kế, in ấn của khách hàng

					li
						p
							| Làm việc với nhóm thiết kế để triển khai các phương án thiết kế cụ thể

					li
						p
							| Thiết kế các ấn phẩm theo yêu cầu của khách hàng. Đáp ứng được bốn yếu tố: độ mỹ thuật, tính sáng tạo, sự chính xác và thời gian.
					li
						p
							| Chỉnh sửa các thiết kế theo yêu cầu của khách hàng (nếu có)
					li
						p
							| Truy xuất các file in ấn theo yêu cầu và quy chuẩn chung của bộ phận sản xuất



				p  
				p
					strong QUYỀN LỢI ĐƯỢC HƯỞNG
				ul
					li
						p
							|  Được làm việc trong môi trường năng động, có điều kiện phát triển bản thân và cơ hội thăng tiến trong nghề nghiệp


					li
						p
							| Lương 8 – 10 triệu/tháng


					li
						p
							| Thời gian làm việc từ 08h00 – 17h00 thứ 2 đến thứ 6, thứ 7 làm từ 8h00 – 12h00

					li
						p
							| Du lịch, teambuilding 1 lần/năm
					li
						p
							| Được thưởng sinh nhật, thai sản, hiếu hỉ.. theo quy định của công ty
					li
						p
							| Thưởng cuối năm theo năng lực cá nhân và tình hình của công ty
					li
						p
							| Các chế độ phúc lợi xã hội như: BHYT, BHXH.. theo quy định của Nhà nước
				p
					strong YÊU CẦU KHÁC

				ul
					li
						p
							|   Tốt nghiệp Đại học/cao đẳng  mỹ Thuật chuyên ngành Thiết kế đồ họa



					li
						p
							| Sử dụng thành thạo các phần mềm đồ họa Photoshop, AI, InDesign



					li
						p
							| Giàu ý tưởng sáng tạo, tính thẩm mỹ tốt, khả năng phân tích nội dung thiết kế, truyền tải ý tưởng tốt


					li
						p
							| Cầu tiến, kiên trì, có trách nhiệm với công việc

					li
						p
							| Kinh nghiệm từ 1 – 2 năm ở vị trí tương đương



				.button
					a.button-ungtuyen(href='', title='')
						| Ứng tuyển
						em.mdi.mdi-arrow-right
					p Hoặc
					a.button-down(href='', title='')
						| Tải mẫu đơn xin việc
						em.mdi.mdi-arrow-right
			.col-lg-3.other
				.head
					h2 tuyển dụng khác
				ul.list-item
					li
						time 14/09/2019
						a.title(href='http://preview4421.canhcam.com.vn/tuyen-dung/copy-of-nhan-vien-lap-dat-he-thong-dien-5', title='Copy of Nhân viên lắp đặt hệ thống điện')
							h4 Copy of Nhân viên lắp đặt hệ thống điện
				ul.list-item
					li
						time 14/09/2019
						a.title(href='http://preview4421.canhcam.com.vn/tuyen-dung/copy-of-nhan-vien-lap-dat-he-thong-dien-6', title='Copy of Nhân viên lắp đặt hệ thống điện')
							h4 Copy of Nhân viên lắp đặt hệ thống điện
				ul.list-item
					li
						time 14/09/2019
						a.title(href='http://preview4421.canhcam.com.vn/tuyen-dung/copy-of-nhan-vien-lap-dat-he-thong-dien-7', title='Copy of Nhân viên lắp đặt hệ thống điện')
							h4 Copy of Nhân viên lắp đặt hệ thống điện
				ul.list-item
					li
						time 14/09/2019
						a.title(href='http://preview4421.canhcam.com.vn/tuyen-dung/copy-of-nhan-vien-lap-dat-he-thong-dien-9', title='Copy of Nhân viên lắp đặt hệ thống điện')
							h4 Copy of Nhân viên lắp đặt hệ thống điện
				ul.list-item
					li
						time 14/09/2019
						a.title(href='http://preview4421.canhcam.com.vn/tuyen-dung/copy-of-nhan-vien-lap-dat-he-thong-dien-3', title='Copy of Nhân viên lắp đặt hệ thống điện')
							h4 Copy of Nhân viên lắp đặt hệ thống điện
