
section.chinhsach(setbackground='http://preview4421.canhcam.com.vn/Data/Sites/1/media/tuyendung-bg.png', style='background-image: url("http://preview4421.canhcam.com.vn/Data/Sites/1/media/tuyendung-bg.png"); background-size: cover; background-position: center center;')
    h2.title-h1(style='text-align: center; text-transform: uppercase') môi trường chính sách
    .container
        .row
            .col-lg-5
                .img
                    img(alt='', src='http://preview4421.canhcam.com.vn/Data/Sites/1/media/tuyendung-1.png')
            .col-lg-7
                p CHÀO MỪNG ĐẾN VỚI CÔNG TY T&H !

                p Lời đầu tiên, Ban Giám Đốc cùng tập thể Nhân Viên Công ty T&H xin gửi đến Quý khách hàng lời chúc sức khỏe, lời chào trân trọng và lời cảm ơn sâu sắc nhất.

                p Thành lập và đi vào hoạt động vào năm 2001, Công ty T&H đã gặp không ít khó khăn nhất định trong thời gian đầu nhưng nhờ sự nỗ lực hết mình của BGĐ, tập thể Nhân viên của Công ty cùng với sự hợp tác, ủng hộ, giúp đỡ và tạo điều kiện của các Cơ quan Ban ngành, Quý khách hàng đã giúp Công ty T&H vượt qua giai đoạn khó khăn trong những ngày hoạt động ấy.

                p Qua thời gian cùng với quyết tâm, sự nỗ lực không ngừng và sự ủng hộ quý báu của Khách hàng, Công ty T&H dần dần đã đi vào ổn định và phát triển.
                p Chính nhờ sự ủng hộ quý báu ấy cùng với việc sử dụng Nguồn nhân lực một cách có hiệu quả, Công ty T&H ngày càng nhận được nhiều sự ủng hộ của đông đảo Khách hàng trong và ngoài nước. Sự ủng hộ này đã làm động lực thúc đẩy Cán bộ và tập thể nhân viên Công ty T&H mỹ thuật, nâng cấp công nghệ xử lý, nâng cao tay nghề sản xuất nhằm tạo ra những ấn phẩm đẹp, mới lạ đạt chất lượng cao, đáp ứng được những tiêu chuẩn khắt khe nhất về mỹ thuật và quy cách thành phẩm. ngày càng không ngừng sáng tạo về

                p Không dừng lại ở việc tạo ra những ấn phẩm chất lượng cao, Công ty T&H còn xây dựng riêng cho mình một cung cách phục vụ khách hàng và luôn đáp ứng được nhu cầu của khách hàng về mặt thời gian với phương châm: “Chúng tôi không làm việc 8 giờ/ngày – khi nào khách hàng cần là chúng tôi có, không nói chữ “ Khó” với bất kỳ khách hàng nào”. Song song với việc chú trọng chất lượng sản xuất thành phẩm Công ty còn chú trọng tới quy cách đóng gói thành phẩm. Tất cả những ấn phẩm, thành phẩm của Quý khách hàng đều được đóng gói thành phẩm vào thùng Carton mang thương hiệu T&H khi chuyển kho đến kho của Quý khách hàng.

                p Từ những kết quả đạt được, Ban Giám Đốc cùng tập thể Nhân viên Công ty T&H cam kết luôn nổ lực hết mình, sẵn sàng lắng nghe những ý kiến đóng góp quý báu của Khách hàng để nâng cao hơn nữa năng lực sản xuất, chất lượng sản phẩm, hoàn thiện hơn nữa dịch vụ của mình để phục vụ khách hàng ngày càng tốt hơn.

section.vitri-ungtuyen
    h2.title-h1(style='text-align: center; text-transform: uppercase') vị trí ứng tuyển
    .container
        .table-responsive
            table.table
                thead
                    tr
                        th(scope='col') Stt
                        th.noidung(scope='col') Vị trí công việc
                        th(scope='col') Số lượng
                        th(scope='col') Nơi làm việc
                        th(scope='col') Ngày đăng 
                        th(scope='col') Hạn nộp hồ sơ
                        th(scope='col')
                tbody
                    tr
                        td 2
                        td.noidung
                            a(href='#', title='Copy of Nhân viên lắp đặt hệ thống điện') Thiết kế đồ họa
                        td
                        td Tp. Hồ Chí Minh
                        td 
                        td
                        td
                            a(href='#', title='Copy of Nhân viên lắp đặt hệ thống điện') Chi tiết
                    tr
                        td 6
                        td.noidung
                            a(href='#', title='Copy of Nhân viên lắp đặt hệ thống điện') Nhân viên kinh doanh
                        td
                        td Tp. Hồ Chí Minh
                        td 
                        td
                        td
                            a(href='#', title='Copy of Nhân viên lắp đặt hệ thống điện') Chi tiết
                    tr
                        td 2
                        td.noidung
                            a(href='#', title='Copy of Nhân viên lắp đặt hệ thống điện') Kế toán viên 
                        td
                        td Tp. Hồ Chí Minh
                        td 
                        td
                        td
                            a(href='#', title='Copy of Nhân viên lắp đặt hệ thống điện') Chi tiết