section.lien-he.mg-section
    .container
        h2.mg-title Liên hệ
        .row
            .col-lg-5
                .information-wrapper
                    h3 Minh Giang Manufacturing & Trading Co., LTD
                    .list-item
                        .item
                            .ic
                                img(src="http://preview2385.canhcam.com.vn/Data/Sites/1/media/lien-he/ic-1.png", alt="")
                            p Địa chỉ
                                span 337 QL13, Hiệp Bình Phước, Thủ Đức, Hồ Chí Minh
                        .item
                            .ic
                                img(src="http://preview2385.canhcam.com.vn/Data/Sites/1/media/lien-he/ic-2.png", alt="")
                            p Số điện thoại
                                span +84 2854 0360 80
                        .item
                            .ic
                                img(src="http://preview2385.canhcam.com.vn/Data/Sites/1/media/lien-he/ic-3.png", alt="")
                            p fax
                                span +84 2854 2263 82
                        .item
                            .ic
                                img(src="http://preview2385.canhcam.com.vn/Data/Sites/1/media/lien-he/ic-4.png", alt="")
                            p Email
                                span Sales@minhgiangauto.com
            .col-lg-7
                p.note Để lại lời nhắn và thông tin liên lạc để Minh Gia có thể hỗ trợ bạn.
                .form-wrapper
                    .Module.Module-239
                        .ModuleContent
                            #ctl00_mainContent_ctl05_pnlFormWizard
                                #ctl00_mainContent_ctl05_pnlForm.wrap-form(onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_mainContent_ctl05_btnSubmit')")
                                    #ctl00_mainContent_ctl05_pnlQuestions
                                        .form-group.qtext.require
                                            label#ctl00_mainContent_ctl05_ctlf728ad46256f4f92b4d6c740e2cfc1ba_lblf728ad46256f4f92b4d6c740e2cfc1ba.label(for='ctl00_mainContent_ctl05_ctlf728ad46256f4f92b4d6c740e2cfc1ba_txtf728ad46256f4f92b4d6c740e2cfc1ba') Họ và tên
                                            input#ctl00_mainContent_ctl05_ctlf728ad46256f4f92b4d6c740e2cfc1ba_txtf728ad46256f4f92b4d6c740e2cfc1ba(name='ctl00$mainContent$ctl05$ctlf728ad46256f4f92b4d6c740e2cfc1ba$txtf728ad46256f4f92b4d6c740e2cfc1ba', type='text')
                                            span#ctl00_mainContent_ctl05_ctlf728ad46256f4f92b4d6c740e2cfc1ba_valf728ad46256f4f92b4d6c740e2cfc1ba.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Họ và tên.
                                        .form-group.qtext.require
                                            label#ctl00_mainContent_ctl05_ctl4875ba4776834235a07220d8b15fb133_lbl4875ba4776834235a07220d8b15fb133.label(for='ctl00_mainContent_ctl05_ctl4875ba4776834235a07220d8b15fb133_txt4875ba4776834235a07220d8b15fb133') Email
                                            input#ctl00_mainContent_ctl05_ctl4875ba4776834235a07220d8b15fb133_txt4875ba4776834235a07220d8b15fb133(name='ctl00$mainContent$ctl05$ctl4875ba4776834235a07220d8b15fb133$txt4875ba4776834235a07220d8b15fb133', type='text')
                                            span#ctl00_mainContent_ctl05_ctl4875ba4776834235a07220d8b15fb133_val4875ba4776834235a07220d8b15fb133.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Email.
                                            span#ctl00_mainContent_ctl05_ctl4875ba4776834235a07220d8b15fb133_ctl00.fa.fa-exclamation-triangle(style='display:none;') Email không hợp lệ
                                        .form-group.qtext.require
                                            label#ctl00_mainContent_ctl05_ctlf55b4e0322884874bf5e3ecd8f8d20b5_lblf55b4e0322884874bf5e3ecd8f8d20b5.label(for='ctl00_mainContent_ctl05_ctlf55b4e0322884874bf5e3ecd8f8d20b5_txtf55b4e0322884874bf5e3ecd8f8d20b5') Số điện thoại
                                            input#ctl00_mainContent_ctl05_ctlf55b4e0322884874bf5e3ecd8f8d20b5_txtf55b4e0322884874bf5e3ecd8f8d20b5(name='ctl00$mainContent$ctl05$ctlf55b4e0322884874bf5e3ecd8f8d20b5$txtf55b4e0322884874bf5e3ecd8f8d20b5', type='text')
                                            span#ctl00_mainContent_ctl05_ctlf55b4e0322884874bf5e3ecd8f8d20b5_valf55b4e0322884874bf5e3ecd8f8d20b5.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Số điện thoại.
                                            span#ctl00_mainContent_ctl05_ctlf55b4e0322884874bf5e3ecd8f8d20b5_ctl00.fa.fa-exclamation-triangle(style='display:none;') Số điện thoại không hợp lệ
                                        .form-group.qtext.require
                                            label#ctl00_mainContent_ctl05_ctl8152e02adda6431cba1e57ffef9fd996_lbl8152e02adda6431cba1e57ffef9fd996.label(for='ctl00_mainContent_ctl05_ctl8152e02adda6431cba1e57ffef9fd996_txt8152e02adda6431cba1e57ffef9fd996') Tiêu đề
                                            input#ctl00_mainContent_ctl05_ctl8152e02adda6431cba1e57ffef9fd996_txt8152e02adda6431cba1e57ffef9fd996(name='ctl00$mainContent$ctl05$ctl8152e02adda6431cba1e57ffef9fd996$txt8152e02adda6431cba1e57ffef9fd996', type='text')
                                            span#ctl00_mainContent_ctl05_ctl8152e02adda6431cba1e57ffef9fd996_val8152e02adda6431cba1e57ffef9fd996.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Tiêu đề.
                                        .form-group.qparagraph.require
                                            label#ctl00_mainContent_ctl05_ctl556e98b718144ceca09ab6ab5cfc1f30_lbl556e98b718144ceca09ab6ab5cfc1f30.label(for='ctl00_mainContent_ctl05_ctl556e98b718144ceca09ab6ab5cfc1f30_txt556e98b718144ceca09ab6ab5cfc1f30') Nội dung
                                            textarea#ctl00_mainContent_ctl05_ctl556e98b718144ceca09ab6ab5cfc1f30_txt556e98b718144ceca09ab6ab5cfc1f30(name='ctl00$mainContent$ctl05$ctl556e98b718144ceca09ab6ab5cfc1f30$txt556e98b718144ceca09ab6ab5cfc1f30', rows='2', cols='20')
                                            span#ctl00_mainContent_ctl05_ctl556e98b718144ceca09ab6ab5cfc1f30_val556e98b718144ceca09ab6ab5cfc1f30.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Nội dung.
                                    #ctl00_mainContent_ctl05_divCaptcha.form-group.frm-captcha
                                        .frm-captcha-input
                                            label.label Nhập mã hiển thị
                                            input#ctl00_mainContent_ctl05_txtCaptcha(name='ctl00$mainContent$ctl05$txtCaptcha', type='text', maxlength='5')
                                        #ctl00_mainContent_ctl05_captcha.RadCaptcha.RadCaptcha_Default(style='width:50%;')
                                            // 2017.3.913.40
                                            span#ctl00_mainContent_ctl05_captcha_ctl00(style='visibility:hidden;') Mã không đúng.
                                            #ctl00_mainContent_ctl05_captcha_SpamProtectorPanel
                                                #ctl00_mainContent_ctl05_captcha_ctl01
                                                    img#ctl00_mainContent_ctl05_captcha_CaptchaImageUP(alt='', src='http://preview2385.canhcam.com.vn/Telerik.Web.UI.WebResource.axd?type=rca&isc=true&guid=20eb787c-69d8-4105-a890-8bd54034b539', style='height:50px;width:180px;display:block;')
                                                    a#ctl00_mainContent_ctl05_captcha_CaptchaLinkButton.rcRefreshImage(title='Hình ảnh mới', href="javascript:__doPostBack('ctl00$mainContent$ctl05$captcha$CaptchaLinkButton','')", style='display:block;') Hình ảnh mới
                                            input#ctl00_mainContent_ctl05_captcha_ClientState(name='ctl00_mainContent_ctl05_captcha_ClientState', type='hidden', autocomplete='off')
                                    #ctl00_mainContent_ctl05_up1(style='display:none;', role='status', aria-hidden='true')
                                        img(src='/Data/SiteImages/indicators/indicator1.gif', alt=' ')
                                    .form-group.frm-btnwrap
                                        label.label  
                                        .frm-btn
                                            input#ctl00_mainContent_ctl05_btnSubmit.btn.btn-default.frm-btn-submit(type='submit', name='ctl00$mainContent$ctl05$btnSubmit', value='Gửi', onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$mainContent$ctl05$btnSubmit", "", true, "formwizard814f4f91-df2f-4102-b90e-257dcb326953", "", false, false))')
                                            input#ctl00_mainContent_ctl05_btnReset.btn.btn-default.frm-btn-reset(name='ctl00$mainContent$ctl05$btnReset', type='reset', value='Xóa')
                                            input#ctl00_mainContent_ctl05_hdnResponseSetGuid(type='hidden', name='ctl00$mainContent$ctl05$hdnResponseSetGuid')
                                    .clear

        .row
            .col-12
                .map-wrapper
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.638484630981!2d106.71291981533446!3d10.838953360999048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175287ba3bc4029%3A0x6e410181226a6908!2zMzM3IFFMMTMsIEhp4buHcCBCw6xuaCBQaMaw4bubYywgVGjhu6cgxJDhu6ljLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1564641868570!5m2!1sen!2s" width="100%" frameborder="0"  allowfullscreen)