section.banner-home
	.uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1', uk-slideshow='animation: push;ratio: false')
		ul.uk-slideshow-items(uk-height-viewport='')
			li
				img(src='./img/banner/home-1.jpg', alt='', uk-cover='')
				.uk-position-center-left.uk-width-1-1
					.uk-container
						.caption.uk-text-center.uk-inline-clip
							p “khi nào khách hàng cần, Chúng tôi có”
							a(href="#").button-skew.red 
								span Xem thêm
			li
				img(src='./img/banner/home-1.jpg', alt='', uk-cover='')
		.scroll-down.uk-position-bottom-center
			a(href="#home-1" uk-scroll='')
				img(src="./img/arrow.png", alt="")