section.gioi-thieu-1
    .uk-container
        .box-wrap
            .slide
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="http://www.link4-ad.com.vn/Data/Sites/1/News/18/gt3.jpg", alt="")
                        .swiper-slide
                            img(src="http://www.link4-ad.com.vn/Data/Sites/1/News/18/gt3.jpg", alt="")
                .swiper-nav
                    .prev
                        em.lnr.lnr-arrow-left
                    .next
                        em.lnr.lnr-arrow-right
            .txt
                .title Nhà máy
                .contact
                    p
                        em.fas.fa-map
                        |  Số 27 Đường Lê Liễu, P.Tân Quý, Q.Tân Phú, TP.HCM
                    p
                        em.fas.fa-phone
                        |  (84-28) 3559 2214 - 2215