.san-pham-ct
    .uk-container
        .top-wrap
            .info
                .title Axon
                ul
                    li
                        p Diện tích
                        p 1.361 m2
                    li
                        p Diện tích
                        p 1.361 m2
                    li
                        p Diện tích
                        p 1.361 m2
                    li
                        p Diện tích
                        p 1.361 m2
            .slider
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="https://www.adparch.com/wp-content/uploads/2019/06/DSC7822-HDR-1024x619.jpg", alt="")
                        .swiper-slide
                            img(src="https://www.adparch.com/wp-content/uploads/2019/06/DSC7822-HDR-1024x619.jpg", alt="")
                .swiper-nav
                    .next
                        em.lnr.lnr-arrow-right
                    .prev
                        em.lnr.lnr-arrow-left
        .bot-wrap
            .title các sản phẩm khác
            .other-slide
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            a(href="#")
                                figure
                                    .image
                                        img(src="https://www.adparch.com/wp-content/uploads/2019/06/DSC7822-HDR-1024x619.jpg", alt="")
                                    figcaption
                                        p test
                        .swiper-slide
                            a(href="#")
                                figure
                                    .image
                                        img(src="https://www.adparch.com/wp-content/uploads/2019/06/DSC7822-HDR-1024x619.jpg", alt="")
                                    figcaption
                                        p test
                        .swiper-slide
                            a(href="#")
                                figure
                                    .image
                                        img(src="https://www.adparch.com/wp-content/uploads/2019/06/DSC7822-HDR-1024x619.jpg", alt="")
                                    figcaption
                                        p test
                        .swiper-slide
                            a(href="#")
                                figure
                                    .image
                                        img(src="https://www.adparch.com/wp-content/uploads/2019/06/DSC7822-HDR-1024x619.jpg", alt="")
                                    figcaption
                                        p test
                        .swiper-slide
                            a(href="#")
                                figure
                                    .image
                                        img(src="https://www.adparch.com/wp-content/uploads/2019/06/DSC7822-HDR-1024x619.jpg", alt="")
                                    figcaption
                                        p test
                        .swiper-slide
                            a(href="#")
                                figure
                                    .image
                                        img(src="https://www.adparch.com/wp-content/uploads/2019/06/DSC7822-HDR-1024x619.jpg", alt="")
                                    figcaption
                                        p test