.san-pham-ct
    .uk-container
        .top-wrap
            .info
                .title Brand's essence of chicken
                ul
                    li
                        p Chiến dịch thực hiện:
                        p Bảng hiệu
                    li
                        p Crowner loại 42g
                        p Kệ trưng bày

                    li
                        p Brochure

                        p Hộp quà tặng tết

                    li
                        p Tủ Brand’s

                        p Wobbler NCG
            .slider
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide(style='text-align: center')
                            img(src="./img/du-an/chi-tiet/1.jpg", style='height: 300px; margin: 0 auto' alt="")
                        .swiper-slide(style='text-align: center')
                            img(src="./img/du-an/chi-tiet/2.jpg", style='height: 300px; margin: 0 auto' alt="")
                        .swiper-slide(style='text-align: center')
                            img(src="./img/du-an/chi-tiet/3.jpg", style='height: 300px; margin: 0 auto' alt="")
                        .swiper-slide(style='text-align: center')
                            img(src="./img/du-an/chi-tiet/4.jpg", style='height: 300px; margin: 0 auto' alt="")
                        .swiper-slide(style='text-align: center')
                            img(src="./img/du-an/chi-tiet/5.jpg", style='height: 300px; margin: 0 auto' alt="")
                        .swiper-slide(style='text-align: center')
                            img(src="./img/du-an/chi-tiet/6.jpg", style='height: 300px; margin: 0 auto' alt="")
                        .swiper-slide(style='text-align: center')
                            img(src="./img/du-an/chi-tiet/7.jpg", style='height: 300px; margin: 0 auto' alt="")
                        .swiper-slide(style='text-align: center')
                            img(src="./img/du-an/chi-tiet/8.jpg", style='height: 300px; margin: 0 auto' alt="")
                        .swiper-slide(style='text-align: center')
                            img(src="./img/du-an/chi-tiet/9.jpg", style='height: 300px; margin: 0 auto' alt="")
                        .swiper-slide(style='text-align: center')
                            img(src="./img/du-an/chi-tiet/10.jpg" style='height: 300px; margin: 0 auto', alt="")
                        .swiper-slide(style='text-align: center')
                            img(src="./img/du-an/chi-tiet/11.jpg" style='height: 300px; margin: 0 auto', alt="")
                .swiper-nav
                    .next
                        em.lnr.lnr-arrow-right
                    .prev
                        em.lnr.lnr-arrow-left
        .bot-wrap
            .title các sản phẩm khác
            .other-slide
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/du-an/energy.jpg", alt="")
                                    figcaption
                                        p test
                      
                        .swiper-slide
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/du-an/hella.jpg", alt="")
                                    figcaption
                                        p test
                      
                        .swiper-slide
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/du-an/mann filter.jpg", alt="")
                                    figcaption
                                        p test
                      
                        .swiper-slide
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/du-an/brands.jpg", alt="")
                                    figcaption
                                        p test
                      
                