section.home-2.uk-section.uk-background-image.uk-background-cover(style="background-image: url('./img/background/home-2.jpg')")
	.uk-container
		.uk-grid(uk-grid='' class="uk-child-width-1-2@l")
			.wrapper.uk-flex.uk-flex-middle
				.links-desktop
					.uk-flex.uk-flex-center.uk-flex-wrap
						a(href="#").link.uk-position-relative
							.img
								img(src="./img/home/dich-vu/2.png", alt="")
							.caption.uk-position-center
								p thiết kế in ấn
						a(href="#").link.uk-position-relative
							.img
								img(src="./img/home/dich-vu/1.png", alt="")
						a(href="#").link.uk-position-relative
							.img
								img(src="./img/home/dich-vu/4.png", alt="")
						a(href="#").link.uk-position-relative
							.img
								img(src="./img/home/dich-vu/3.png", alt="")
				.links-mobile
					.uk-grid(uk-grid='' class="uk-child-width-1-2")
						a(href="#").link.uk-position-relative
							.img
								img(src="./img/home/dich-vu/2.png", alt="")
							.caption.uk-position-center
								p thiết kế in ấn
						a(href="#").link.uk-position-relative
							.img
								img(src="./img/home/dich-vu/1.png", alt="")
						a(href="#").link.uk-position-relative
							.img
								img(src="./img/home/dich-vu/4.png", alt="")
						a(href="#").link.uk-position-relative
							.img
								img(src="./img/home/dich-vu/3.png", alt="")
			.wrapper.uk-flex.uk-flex-middle
				.content
					h2 dịch vụ
					p Không chỉ phụ trách in ấn sản xuất sản phẩm và quà tặng, T&H hướng đến là một đơn vị toàn vẹn với các dịch vụ lên ý tưởng thiết kế in ấn đến thành phẩm cho các chiến lược quảng bá sản phẩm và tổ chức sự kiện của ban.
					a(href="#").button-skew.white
						span Xem chi tiết
