.navigation
    .uk-container
        ul
            li
                a(href="#") Brochure
            li
                a(href="#") Catalogue
            li
                a(href="#") Tui giấy

            li
                a(href="#") Hộp giấy

            li
                a(href="#") Lịch năm mới

            li
                a(href="#") Sổ tay

            li
                a(href="#") Phiếu bảo hành

            li
                a(href="#") Sticker

            li
                a(href="#") Namecard

.san-pham-2
    .uk-container
        h2.title Sản phẩm
        .product-list
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-2/brochure.jpg", alt="")
                        figcaption
                            p Brochure 1
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-2/Brochure.png", alt="")
                        figcaption
                            p Brochure 2
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-2/Brochure-A4.png", alt="")
                        figcaption
                            p Brochure 3
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-2/brouchure-1.jpg", alt="")
                        figcaption
                            p Brochure 4
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-2/Cuon-Brochure.jpg", alt="")
                        figcaption
                            p Brochure 5
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-2/Leaflet.jpg", alt="")
                        figcaption
                            p Brochure 6
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/san-pham/danh-sach-2/Phoi-canh-brochure-6-trang.jpg", alt="")
                        figcaption
                            p Brochure 7