.navigation
    .uk-container
        ul
            li
                a(href="#") Tất cả
            li
                a(href="#") Tất cả
            li
                a(href="#") Tất cả
            li
                a(href="#") Tất cả
            li
                a(href="#") Tất cả
            li
                a(href="#") Tất cả
.du-an
    .uk-container
        .project-list
            .item
                a(href='#')
                    figure
                        .image
                            img(src="./img/du-an/48e4a1077f7ad6089a922e2a4177de19.jpg", alt="")
                        figcaption
                            p Javica
            .item
                a(href='#')
                    figure
                        .image
                            img(src="./img/du-an/brands.jpg", alt="")
                        figcaption
                            p Javica
            .item
                a(href='#')
                    figure
                        .image
                            img(src="./img/du-an/energy.jpg", alt="")
                        figcaption
                            p Javica
            .item
                a(href='#')
                    figure
                        .image
                            img(src="./img/du-an/hella.jpg", alt="")
                        figcaption
                            p Javica
            .item
                a(href='#')
                    figure
                        .image
                            img(src="./img/du-an/mann filter.jpg", alt="")
                        figcaption
                            p Javica
            .item
                a(href='#')
                    figure
                        .image
                            img(src="./img/du-an/yamaha.jpg", alt="")
                        figcaption
                            p Javica