section.xvt-newsletter.main-section
    .container
        .main-title.text-center
            h2 Newsletter
        .row.newsletter-top
            .col-lg-6.newsletter-big
                .item
                    a(href="#")
                        figure
                            .image
                                img(src="http://voyagevietnam.indochinacharm.com/wp-content/uploads/2019/08/Trang-An-Scenic-Landscape-Complex3.jpg", alt="")
                            figcaption
                                .date
                                    em.mdi.mdi-calendar
                                    date 20/08/2019
                                .title
                                    h3 Tại sao nên chọn danh thiếp sáng tạo?
            .col-lg-6.newsletter-small
                .item
                    a(href="#")
                        figure
                            .image
                                img(src="http://voyagevietnam.indochinacharm.com/wp-content/uploads/2019/08/Trang-An-Scenic-Landscape-Complex3.jpg", alt="")
                            figcaption
                                .date
                                    em.mdi.mdi-calendar
                                    date 19/08/2019
                                .title
                                    h3 9 bí quyết cần biết khi thiết kế catologue
                .item
                    a(href="#")
                        figure
                            .image
                                img(src="http://voyagevietnam.indochinacharm.com/wp-content/uploads/2019/08/Trang-An-Scenic-Landscape-Complex3.jpg", alt="")
                            figcaption
                                .date
                                    em.mdi.mdi-calendar
                                    date 17/08/2019
                                .title
                                    h3 5 điểm khác nhau để phân biệt catologue prolife và brochure hiệu quả nhất
                .item
                    a(href="#")
                        figure
                            .image
                                img(src="http://voyagevietnam.indochinacharm.com/wp-content/uploads/2019/08/Trang-An-Scenic-Landscape-Complex3.jpg", alt="")
                            figcaption
                                .date
                                    em.mdi.mdi-calendar
                                    date 10/08/2019
                                .title
                                    h3 Công dụng của catologue tiếp cận và kích thích hàng vi mua sắm
